@model IEnumerable<realbau_app.Models.Import.NewAddress>
@{
    ViewBag.Title = "Index";
}

<style>
    input[type="checkbox"] {
        opacity: 1;
        width: 20px;
        height: 20px;
    }
</style>


<h4 class="center-align">Import from file<br /></h4>
@*<form id="addresses" asp-controller="Home" asp-action="Addresses" method="POST">*@
@* using (Html.BeginForm("Addresses", "Home", FormMethod.Post))
    {*@

<div class="row">
    <div class="col s6 m4 l2">
        <button class="btn selectAll" id="selectAll_@Model.Count()" title="Select / unselect all addresses"><i class="material-icons left">touch_app</i>Select / unselect all addresses</button>
    </div>
    <div class="col s6 m4 l2">

        <button class="btn insertSelected" id="insertSelected_@Model.Count()" title="Insert selected addresses">Insert selected addresses</button>

    </div>
    <div class="col s6 m4 l2">

        <div>
            <input type="checkbox" id="sendMail" style="opacity: 1; ">
            <label for="sendMail" style="padding-left: 30px;">Send email to selected addresses</label>
        </div>

    </div>

</div>

@{
    int i = 0;
}
<table class="table table-bordered table-responsive" id="newaddresses" style="overflow:scroll; width:500px; ">
    <tr>

        <th>Accept</th>
        <th>Bestellnummer </th>
        <th>SP_Name </th>
        <th>Name </th>
        <th>Telefon</th>
        <th>Handy</th>
        <th>Email</th>
        <th>Ort</th>
        <th>Zipcode</th>
        <th>Straße</th>
        <th>Nummer</th>
        <th>NrZusats</th>
        <th>WeitereSusatz</th>
        <th>AnschlussStatus</th>
        <th>AccessLocation</th>
        <th>IP_ODF</th>
        <th>IP_Port</th>
        <th>TV_ODF</th>
        <th>Projectcode</th>
        <th>Kennwort</th>
        <th>Subtype</th>
        <th>Index</th>
        <th>Accepted</th>
    </tr>
    @foreach (var address in Model)
    {


        <tr id="tr_@i">

            <td>
                <button class="btn btn-primary acceptBtn" id="acceptBtn_@i" title="Select / unselect address"><i class="material-icons">touch_app</i></button>

            </td>
            <td>@address.Bestellnummer</td>
            <td>@address.SP_Name</td>
            <td>@address.Name</td>
            <td>@address.Telefon</td>
            <td>@address.Handy</td>
            <td>@address.Email</td>
            <td>@address.Ort</td>
            <td>@address.Zipcode</td>
            <td>@address.Straße</td>
            <td>@address.Nummer</td>
            <td>@address.NrZusatz</td>
            <td>@address.WeitereSusatz</td>
            <td>@address.AnschlussStatus</td>
            <td>@address.AccessLocation</td>
            <td>@address.IP_ODF</td>
            <td>@address.IP_Port</td>
            <td>@address.TV_ODF</td>
            <td>@address.Projectcode</td>
            <td>@address.Kennwort</td>
            <td>@address.Subtype</td>

            <td><span>@i</span></td>
            <td id="accepted_@i">@address.Accepted</td>

        </tr>
        i++;
    }


</table>


@*@section Scripts{*@
@*<script type="text/javascript">
        $(function() {
            $("#submit").click(function() {
                document.forms[0].submit();
                return false;
            });
        });
    </script>*@
@*}
*@    @*@*<button id="submitAddresses" class="btn" value="Submit" type="submit">Submit</button>*@
@*@Html.ActionLink("Home","Addresses",Model)*@
@*</form>*@

@*@section Scripts{
                     <script>
$(function() {
                         $("#submitAddresses").click(function(){
                             $.ajax({
                                 url: "/Home/Addresses",
                                 method: "POST",
                                 data:  $("#addresses").serialize(),
                                 success: function(){
                                     alert("Success")
                                 },
                                 error: function(error) {
                                     alert(JSON.stringify(error))
                                 }
                             })
                         })
                          })
                     </script>
                 }*@

@section Scripts{

    <script>
        $(".acceptBtn").on("click", function() {
            //var buttonId = this.id;
            ////console.log(buttonId);
            //var data = buttonId.split(' ');

            ////console.log(data);

            //var city = data[1];
            //var tzip = data[2];
            //var street = data[3];
            //var housenumber = data[4];
            //var subnumber = data[5];
            //var unit = data[6];

            //console.log(city);
            //console.log(tzip);
            //console.log(street);
            //console.log(housenumber);
            //console.log(subnumber);
            //console.log(unit);

            var id = this.id;
            var index = this.id.split('_')[1];
            console.log($("#accepted_" + index));
            toggleAddressColor(index);


        })



        function toggleAddressColor(index) {
            var tr = $("#tr_" + index);
            var acceped = $("#accepted_" + index);
            var isAccepted = acceped[0].innerText;

            if (isAccepted == 1) {
                $("#tr_" + index)[0].style.backgroundColor = 'transparent';
                $("#accepted_" + index)[0].innerText = 0;
            }
            else {
                $("#tr_" + index)[0].style.backgroundColor = '#e0e0e0';
                $("#accepted_" + index)[0].innerText = 1;
            }

        }

        $(".selectAll").on("click", function() {
            addressCount = this.id.split('_')[1];
            for (let i = 0; i < addressCount; i++) {
                toggleAddressColor(i);
            }
        })

        $(".insertSelected").on("click", function() {

            //var row = $(this).closest("tr");
            //console.log(row);
            //if (confirm("Da li ste sigurni da želite da unesete stavku?")) {
            var table = $("#newaddresses")[0];
            //console.log($('#tblHbTerms tbody'));
            //var table = $("#tblHbTerms")[0];

            var sendMail = $("#sendMail"))[0].checked;
console.log(sendMail);

            for (var i = 1, row; row = table.rows[i]; i++) {
                //console.log(i);
               // console.log(row);
                //console.log(row.children[1].textContent);

                if (row.children[22].textContent != 1)
                    continue;

                var newRow = {}
                newRow.orderid = 0;
                newRow.orderdate = new Date();
                newRow.projectname = "";
                newRow.dp = 0;
                newRow.dpfinish = 0;
                newRow.popfinish = 0;
                newRow.comment = "";
                //newRow.connectiondate = null;
                //newRow.completiondate = null;
                newRow.co_id = 0;
                newRow.firstname = "";
                newRow.status = "";
                newRow.servicepackage = 0;

                //alert(row[0].children[1].textContent);
                //return;


                newRow.bestellnummer = row.children[1].textContent;
                newRow.provider = row.children[2].textContent;
                newRow.name = row.children[3].textContent;
                newRow.phone = row.children[4].textContent;
                newRow.phone2 = row.children[5].textContent;
                newRow.email = row.children[6].textContent;
                newRow.city = row.children[7].textContent;

                newRow.tzip = row.children[8].textContent;
                newRow.street = row.children[9].textContent;
                newRow.housenumber = row.children[10].textContent;
                newRow.zusat = row.children[11].textContent;
                newRow.unit = row.children[12].textContent;
                newRow.arsstatus = row.children[13].textContent;

                newRow.areapop = row.children[14].textContent;
                newRow.IP_ODF = row.children[15].textContent;
                newRow.IP_Port = row.children[16].textContent;
                newRow.TV_ODF = row.children[17].textContent;

                newRow.projectcode = row.children[18].textContent;
                newRow.kennwort = row.children[19].textContent;
                newRow.subtype = row.children[20].textContent;

                let index = row.children[21].textContent;

                //console.log("New row");

                //console.log(JSON.stringify(newRow));

                //$("#tblCustomers TBODY TR").each(function () {
                //                            var row = $(this);
                //                            var customer = {};
                //                            customer.Name = row.find("TD").eq(0).html();
                //                            customer.Country = row.find("TD").eq(1).html();
                //                            customers.push(customer);
                //                        });

                //Send the JSON array to Controller using AJAX.
                $.ajax({
                    type: "POST",
                    url: "/api/Address",
                    data: JSON.stringify(newRow),
                    contentType: "application/json; charset=utf-8",
                    //dataType: "json",
                    success: function(r) {
                        var toastHTML = '<span>Successfully imported data! Please, import another file!</span>';
                        M.toast({ html: toastHTML });

                        if (sendMail) {
                            // SEND EMAIL
                        }
                        //setTimeout(() => { window.location.href = "/Import"; }, 1000);

                        //alert("Success");
                        //console.log(table);
                        //console.log(index);
                        //table.deleteRow(row.rowIndex);
                        //$('#tblHbTerms tbody').append("<tr><td></td><td>" + newRow.hbfrom + "</td><td>" + newRow.hbto + "</td><td></td></tr>");
                    },
                    error: function(err) {
                        alert("Error in address insert! Please, try again.");
                        console.log(JSON.stringify(err))
                    }
                });

                //iterate through rows
                //rows would be accessed using the "row" variable assigned in the for loop
                //for (var j = 0, col; col = row.cells[j]; j++) {
                //    //iterate through columns
                //    //columns would be accessed using the "col" variable assigned in the for loop
                //}
            }




            return;

            //var newRow = {}
            //newRow.orderid = 0;
            //newRow.orderdate = new Date();
            //newRow.projectname = "";
            //newRow.dp = 0;
            //newRow.dpfinish = 0;
            //newRow.popfinish = 0;
            //newRow.comment = "";
            ////newRow.connectiondate = null;
            ////newRow.completiondate = null;
            //newRow.co_id = 0;
            //newRow.firstname = "";
            //newRow.status = "";
            //newRow.servicepackage = 0;

            ////alert(row[0].children[1].textContent);
            ////return;


            //newRow.bestellnummer = row[0].children[1].textContent;
            //newRow.provider = row[0].children[2].textContent;
            //newRow.name = row[0].children[3].textContent;
            //newRow.phone = row[0].children[4].textContent;
            //newRow.phone2 = row[0].children[5].textContent;
            //newRow.email = row[0].children[6].textContent;
            //newRow.city = row[0].children[7].textContent;

            //newRow.tzip = row[0].children[8].textContent;
            //newRow.street = row[0].children[9].textContent;
            //newRow.housenumber = row[0].children[10].textContent;
            //newRow.zusat = row[0].children[11].textContent;
            //newRow.unit = row[0].children[12].textContent;
            //newRow.arsstatus = row[0].children[13].textContent;

            //newRow.areapop = row[0].children[14].textContent;
            //newRow.IP_ODF = row[0].children[15].textContent;
            //newRow.IP_Port = row[0].children[16].textContent;
            //newRow.TV_ODF = row[0].children[17].textContent;

            //newRow.projectcode = row[0].children[18].textContent;
            //newRow.kennwort = row[0].children[19].textContent;
            //newRow.subtype = row[0].children[20].textContent;


            //console.log(JSON.stringify(newRow));

            ////$("#tblCustomers TBODY TR").each(function () {
            ////                            var row = $(this);
            ////                            var customer = {};
            ////                            customer.Name = row.find("TD").eq(0).html();
            ////                            customer.Country = row.find("TD").eq(1).html();
            ////                            customers.push(customer);
            ////                        });

            ////Send the JSON array to Controller using AJAX.
            //$.ajax({
            //    type: "POST",
            //    url: "/api/Address",
            //    data: JSON.stringify(newRow),
            //    contentType: "application/json; charset=utf-8",
            //    //dataType: "json",
            //    success: function(r) {
            //        //alert("Success");
            //        table.deleteRow(row[0].rowIndex);
            //        //$('#tblHbTerms tbody').append("<tr><td></td><td>" + newRow.hbfrom + "</td><td>" + newRow.hbto + "</td><td></td></tr>");
            //    },
            //    error: function(err) {
            //        alert("Error in address insert! Please, try again.");
            //        console.log(JSON.stringify(err))
            //    }
            //});
        });









                                                                        //$(".acceptBtn").on("click", function() {

                                                                        //    var row = $(this).closest("tr");
                                                                        //    console.log(row);
                                                                        //    //if (confirm("Da li ste sigurni da želite da unesete stavku?")) {
                                                                        //    var table = $("#newaddresses")[0];
                                                                        //    //console.log($('#tblHbTerms tbody'));
                                                                        //    //var table = $("#tblHbTerms")[0];








                                                                        //    var newRow = {}
                                                                        //    newRow.orderid = 0;
                                                                        //    newRow.orderdate = new Date();
                                                                        //    newRow.projectname = "";
                                                                        //    newRow.dp = 0;
                                                                        //    newRow.dpfinish = 0;
                                                                        //    newRow.popfinish = 0;
                                                                        //    newRow.comment = "";
                                                                        //    //newRow.connectiondate = null;
                                                                        //    //newRow.completiondate = null;
                                                                        //    newRow.co_id = 0;
                                                                        //    newRow.firstname = "";
                                                                        //    newRow.status = "";
                                                                        //    newRow.servicepackage = 0;

                                                                        //    //alert(row[0].children[1].textContent);
                                                                        //    //return;


                                                                        //    newRow.bestellnummer = row[0].children[1].textContent;
                                                                        //    newRow.provider = row[0].children[2].textContent;
                                                                        //    newRow.name = row[0].children[3].textContent;
                                                                        //    newRow.phone = row[0].children[4].textContent;
                                                                        //    newRow.phone2 = row[0].children[5].textContent;
                                                                        //    newRow.email = row[0].children[6].textContent;
                                                                        //    newRow.city = row[0].children[7].textContent;

                                                                        //    newRow.tzip = row[0].children[8].textContent;
                                                                        //    newRow.street = row[0].children[9].textContent;
                                                                        //    newRow.housenumber = row[0].children[10].textContent;
                                                                        //    newRow.zusat = row[0].children[11].textContent;
                                                                        //    newRow.unit = row[0].children[12].textContent;
                                                                        //    newRow.arsstatus = row[0].children[13].textContent;

                                                                        //    newRow.areapop = row[0].children[14].textContent;
                                                                        //    newRow.IP_ODF = row[0].children[15].textContent;
                                                                        //    newRow.IP_Port = row[0].children[16].textContent;
                                                                        //    newRow.TV_ODF = row[0].children[17].textContent;

                                                                        //    newRow.projectcode = row[0].children[18].textContent;
                                                                        //    newRow.kennwort = row[0].children[19].textContent;
                                                                        //    newRow.subtype = row[0].children[20].textContent;


                                                                        //    console.log(JSON.stringify(newRow));

                                                                        //    //$("#tblCustomers TBODY TR").each(function () {
                                                                        //    //                            var row = $(this);
                                                                        //    //                            var customer = {};
                                                                        //    //                            customer.Name = row.find("TD").eq(0).html();
                                                                        //    //                            customer.Country = row.find("TD").eq(1).html();
                                                                        //    //                            customers.push(customer);
                                                                        //    //                        });

                                                                        //    //Send the JSON array to Controller using AJAX.
                                                                        //    $.ajax({
                                                                        //        type: "POST",
                                                                        //        url: "/api/Address",
                                                                        //        data: JSON.stringify(newRow),
                                                                        //        contentType: "application/json; charset=utf-8",
                                                                        //        //dataType: "json",
                                                                        //        success: function(r) {
                                                                        //            //alert("Success");
                                                                        //            table.deleteRow(row[0].rowIndex);
                                                                        //            //$('#tblHbTerms tbody').append("<tr><td></td><td>" + newRow.hbfrom + "</td><td>" + newRow.hbto + "</td><td></td></tr>");
                                                                        //        },
                                                                        //        error: function(err) {
                                                                        //            alert("Error in address insert! Please, try again.");
                                                                        //            console.log(JSON.stringify(err))
                                                                        //        }
                                                                        //    });
                                                                        //});
    </script>
                                 }