@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<realbau_app.api.Models.MontazeDefaultTermDB>
<h4 class="text-center">Montaze default terms</h4>

<table class="table table-bordered table-responsive table-hover" id="tblHbTerms">
    <thead>
        <tr>
            <th hidden>Id</th>
            <th>From</th>
            <th>To</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var d in Model)
        {

            <tr>
                <td hidden><input type="text" value="@d.id" /></td>
                <td>@d.mfrom</td>
                <td>@d.mto</td>
                @* <td><input type="time" value="@d.hbfrom" /></td>
            <td><input type="time" value="@d.hbto" /></td>*@
                <td><input class="btn btn-danger" type="button" id="btnRemove" value="Remove" /></td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td hidden></td>
            <td><input class="form-control" type="time" id="newMFrom" /></td>
            <td><input class="form-control" type="time" id="newMTo" /></td>
            <td><input class="btn btn-primary" type="button" id="btnAdd" value="Add" /></td>
        </tr>
    </tfoot>
</table>

@*<input type="button" id="btnSave" value="Save All" />*@

@section Scripts{
    <script type="text/javascript">
        $("body").on("click", "#btnAdd", function() {

            var row = $(this).closest("tr");
            console.log(row);
            if (confirm("Da li ste sigurni da želite da unesete stavku?")) {
                var table = $("#tblMTerms")[0];
                console.log($('#tblMTerms tbody'));

                var newRow = {}
                newRow.mfrom = row[0].children[1].children[0].value + ":00";
                newRow.mto = row[0].children[2].children[0].value + ":00";

                console.log(JSON.stringify(newRow));

                //$("#tblCustomers TBODY TR").each(function () {
                //                            var row = $(this);
                //                            var customer = {};
                //                            customer.Name = row.find("TD").eq(0).html();
                //                            customer.Country = row.find("TD").eq(1).html();
                //                            customers.push(customer);
                //                        });

                //Send the JSON array to Controller using AJAX.
                $.ajax({
                    type: "POST",
                    url: "/api/MontazeDefaultTerm",
                    data: JSON.stringify(newRow),
                    contentType: "application/json; charset=utf-8",
                    //dataType: "json",
                    success: function(r) {
                        alert("Success");
                        $('#tblMTerms tbody').append("<tr><td></td><td>" + newRow.mfrom + "</td><td>" + newRow.mto + "</td><td></td></tr>");
                    },
                    error: function(err) {
                        alert("Error");
                        console.log(JSON.stringify(err))
                    }
                });

                //$('#tblHbTerms tbody').append("<tr><td></td><td>Hello</td><td>world</td><td></td></tr>");
                //var row1 = table.insertRow(-1);
                //var cell1 = row1.insertCell(0);
                //var cell2 = row1.insertCell(1);
                //var cell3 = row1.insertCell(2);
                //var cell4 = row1.insertCell(3);
                //cell1.innerHTML = "NEW CELL1";
                //cell2.innerHTML = "NEW CELL2";
                //cell3.innerHTML = "NEW CELL3";
                //cell4.innerHTML = "NEW CELL4";

                //var id = row[0].children[0].children[0].value;
                //console.log(id);
            }
            //var name = $("TD", row).eq(0).html();
            //if (confirm("Do you want to delete: " + name)) {
            //    //Get the reference of the Table.
            //    var table = $("#tblHbTerms")[0];

            //    console.log(table);



            //$.ajax({
            //    type: "DELETE",
            //    url: "/api/HausbegehungDefaultTerm/" + id,
            //    success: function(r) {
            //        alert(JSON.stringify(r))
            //        alert("Uspjesno obrisana stavka");
            //        //alert(r + " record(s) deleted.");
            //    },
            //    error: function(err) {
            //        alert(JSON.stringify(err));
            //        alert("Nije uspjesno obrisana stavka");
            //    }
            //});
            //Reference the Name and Country TextBoxes.
            //var txtName = $("#txtName");
            //var txtCountry = $("#txtCountry");

            ////Get the reference of the Table's TBODY element.
            //var tBody = $("#tblCustomers > TBODY")[0];

            ////Add Row.
            //var row = tBody.insertRow(-1);

            ////Add Name cell.
            //var cell = $(row.insertCell(-1));
            //cell.html(txtName.val());

            ////Add Country cell.
            //cell = $(row.insertCell(-1));
            //cell.html(txtCountry.val());

            ////Add Button cell.
            //cell = $(row.insertCell(-1));
            //var btnRemove = $("<input />");
            //btnRemove.attr("type", "button");
            //btnRemove.attr("onclick", "Remove(this);");
            //btnRemove.val("Remove");
            //cell.append(btnRemove);

            ////Clear the TextBoxes.
            //txtName.val("");
            //txtCountry.val("");
        });

        $("body").on("click", "#btnRemove", function Remove() {
            //Determine the reference of the Row using the Button.
            var row = $(this).closest("tr");
            console.log(row);
            if (confirm("Da li ste sigurni da želite da obrišete stavku?")) {
                var table = $("#tblMTerms")[0];
                table.deleteRow(row[0].rowIndex);
                var id = row[0].children[0].children[0].value;
                console.log(id);
            }
            //var name = $("TD", row).eq(0).html();
            //if (confirm("Do you want to delete: " + name)) {
            //    //Get the reference of the Table.
            //    var table = $("#tblHbTerms")[0];

            //    console.log(table);



            $.ajax({
                type: "DELETE",
                url: "/api/MontazeDefaultTerm/" + id,
                success: function(r) {
                    alert(JSON.stringify(r))
                    alert("Uspjesno obrisana stavka");
                    //alert(r + " record(s) deleted.");
                },
                error: function(err) {
                    alert(JSON.stringify(err));
                    alert("Nije uspjesno obrisana stavka");
                }
            });

            //    //Delete the Table row using it's Index.
            //    table.deleteRow(row[0].rowIndex);
            //}
        });

                                                //$("body").on("click", "#btnSave", function () {
                                                //    //Loop through the Table rows and build a JSON array.
                                                //    var customers = new Array();
                                                //    $("#tblCustomers TBODY TR").each(function () {
                                                //        var row = $(this);
                                                //        var customer = {};
                                                //        customer.Name = row.find("TD").eq(0).html();
                                                //        customer.Country = row.find("TD").eq(1).html();
                                                //        customers.push(customer);
                                                //    });

                                                //    //Send the JSON array to Controller using AJAX.
                                                //    $.ajax({
                                                //        type: "POST",
                                                //        url: "/Home/InsertCustomers",
                                                //        data: JSON.stringify(customers),
                                                //        contentType: "application/json; charset=utf-8",
                                                //        dataType: "json",
                                                //        success: function (r) {
                                                //            alert(r + " record(s) inserted.");
                                                //        }
                                                //    });
                                                //});
    </script>
}          