@model IEnumerable<realbau_app.Models.AddressDetails>
@{
    ViewBag.Title = "Index";
}
<h4 class="center-align">Active addresses<br /></h4>
@*<form id="addresses" asp-controller="Home" asp-action="Addresses" method="POST">*@
@* using (Html.BeginForm("Addresses", "Home", FormMethod.Post))
    {*@

@* <div class="row" >
            <div class="col s3 m3 l3 input-field "><input class="form-control validate" id="cityFilter" /><label for="cityFilter"></label></div>
            <div class="col s3 m3 l3 input-field "><input class="form-control validate" id="popFilter" /><label for="popFilter"></label></div>
        </div>*@



<div class="row">
    <div class="col s12 m12 l12">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Filters</span>
                <div class="row">
                    <div class="input field col s6 m6 l6">
                        <input class="materialize-input" id="popFilter" />
                        <label for="popFilter">Filter by pop</label>
                    </div>
                    <div class="col s1 m1 l1">

                        <p>
                            <label>
                                <input type="checkbox" class="filled-in" id="hbFilter" />
                                <span>Hausbegehung</span>
                            </label>
                        </p>
                    </div>
                    <div class="col s1 m1 l1">

                        <p>
                            <label>
                                <input type="checkbox" class="filled-in" id="tFilter" />
                                <span>Tiefbau</span>
                            </label>
                        </p>
                    </div>
                    <div class="col s1 m1 l1">

                        <p>
                            <label>
                                <input type="checkbox" class="filled-in" id="fFilter" />
                                <span>Faser</span>
                            </label>
                        </p>
                    </div>
                    <div class="col s1 m1 l1">

                        <p>
                            <label>
                                <input type="checkbox" class="filled-in" id="mFilter" />
                                <span>Montaze</span>
                            </label>
                        </p>
                    </div>
                    <div class="col s1 m1 l1">

                        <p>
                            <label>
                                <input type="checkbox" class="filled-in" id="aFilter" />
                                <span>Aktivirung</span>
                            </label>
                        </p>
                    </div>
                    <div class="col s1 m1 l1">

                        <p>
                            <label>
                                <input type="checkbox" class="filled-in" id="vFilter" />
                                <span>Vermessung</span>
                            </label>
                        </p>
                    </div>
                </div>

                @*<div class="row">
                <div class="col s12 m12 l12">
                <form asp-route="StreamFileUpload/Index" enctype="multipart/form-data" method="POST">
                <input type="file" name="file" />
                <button type="submit" class="btn btn-primary">Save</button>
                </form>
                </div>
                </div>*@


            </div>
            <div class="card-action">
                <a class="waves-effect waves-light btn" id="filter" style="background-color: #4db6ac; color: whitesmoke !important;">Filter data</a>
                <a class="waves-effect waves-light btn" id="reset" style="background-color: #e57373; color: whitesmoke !important;">Reset filter</a>

            </div>
        </div>
    </div>
</div>

<style>
    i {
        color: darkgreen !important;
    }

    table {
        margin: 1rem !important;
    }
</style>

<ul class="collapsible">
    <li>
        <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
        <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
        <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
</ul>

@*<table class="table table-responsive" id="newaddresses">*@
@*    <tr>
    <th>name</th>
    <th>email</th>
    <th>phone</th>
    <th>phone2</th>
    <th>city</th>
    <th>tzip</th>
    <th>street</th>
    <th>house number</th>
    <th>unit</th>
    <th>areapop</th>
    <th>hausbegehung</th>
    <th>tiefbau</th>
    <th>faser</th>
    <th>montaze</th>
    <th>aktivirung</th>
    <th>vermessung</th>
    <th></th>

    </tr>*@
<ul class="collapsible">
    @foreach (var d in Model)
    {

        <li>
            <div class="collapsible-header">
                <div class="row" style="margin: 0">
                    @*<div class="col s1 m1 l1">*@
                        <span style="width: 20%">@d.areapop</span>
                       <span style="margin-right: 1rem; width:200px !important">@d.name</span> 
                       <span style="margin-right: 1rem;">@d.street, @d.housenumber @d.subnumber, @d.unit</span> 
                       <span>@d.phone</span>
                       <span>@d.phone2</span>
                       <span>@d.email</span>
                    @*</div>*@
                    @if (d.hbfinished == 1)
                    {
                        
                            <span>HB: <i class="material-icons" style="color: green !important">check</i></span>
                    
                    }
                    else
                    {
                        
                            <span>HB: <i class="material-icons" style="color: red !important">clear</i></span>
                      
                    }

                    @if (d.tfinished == 1)
                    {
                        
                            <span>T: <i class="material-icons" style="color: green !important">check</i></span>
                    
                    }
                    else
                    {
                        
                            <span>T: <i class="material-icons" style="color: red !important">clear</i></span>
                      
                    }

                    @if (d.ffinished == 1)
                    {
                        
                            <span>F: <i class="material-icons" style="color: green !important">check</i></span>
                    
                    }
                    else
                    {
                        
                            <span>F: <i class="material-icons" style="color: red !important">clear</i></span>
                      
                    }

                    @if (d.mfinished == 1)
                    {
                        
                            <span>M: <i class="material-icons" style="color: green !important">check</i></span>
                    
                    }
                    else
                    {
                        
                            <span>M: <i class="material-icons" style="color: red !important">clear</i></span>
                      
                    }

                    @if (d.afinished == 1)
                    {
                        
                            <span>A: <i class="material-icons" style="color: green !important">check</i></span>
                    
                    }
                    else
                    {
                        
                            <span>A: <i class="material-icons" style="color: red !important">clear</i></span>
                      
                    }

                    @if (d.vfinished == 1)
                    {
                        
                            <span>V: <i class="material-icons" style="color: green !important">check</i></span>
                    
                    }
                    else
                    {
                        
                            <span>V: <i class="material-icons" style="color: red !important">clear</i></span>
                      
                    }

                </div>
            </div>
            <div class="collapsible-body"><span>@d.phone</span></div>
        </li>
        @*    <li>
    <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
    <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>*@


        @*      <tr >


    <td>@d.name</td>
    <td>@d.email</td>
    <td>@d.phone</td>
    <td>@d.phone2</td>
    <td>@d.city</td>
    <td>@d.tzip</td>
    <td>@d.street</td>
    <td>@d.housenumber</td>
    <td>@d.unit</td>
    <td>@d.areapop</td>
    <th>
    @if (d.hbfinished == 1)
    {
    <i class="material-icons left">check</i>
    }
    </th>

    <th>
    @if (d.tfinished == 1)
    {
    <i class="material-icons left">check</i>
    }
    </th>
    <th>
    @if (d.ffinished == 1)
    {
    <i class="material-icons left">check</i>
    }
    </th>
    <th>
    @if (d.mfinished == 1)
    {
    <i class="material-icons left">check</i>
    }
    </th>
    <th>
    @if (d.afinished == 1)
    {
    <i class="material-icons left">check</i>
    }
    </th>
    <th>
    @if (d.vfinished == 1)
    {
    <i class="material-icons left">check</i>
    }
    </th>
    <td style="font-weight: bold;">
    @Html.ActionLink("Details",
    "AddressDetails",
    "Home",
    new { id = @d.id },
    null
    )

    </td>


    </tr>*@

    }
</ul>

@*</table>*@




@*@section Scripts{*@
@*<script type="text/javascript">
        $(function() {
            $("#submit").click(function() {
                document.forms[0].submit();
                return false;
            });
        });
    </script>*@
@*}
*@    @*@*<button id="submitAddresses" class="btn" value="Submit" type="submit">Submit</button>*@
@*@Html.ActionLink("Home","Addresses",Model)*@
@*</form>*@

@*@section Scripts{
                     <script>
$(function() {
                         $("#submitAddresses").click(function(){
                             $.ajax({
                                 url: "/Home/Addresses",
                                 method: "POST",
                                 data:  $("#addresses").serialize(),
                                 success: function(){
                                     alert("Success")
                                 },
                                 error: function(error) {
                                     alert(JSON.stringify(error))
                                 }
                             })
                         })
                          })
                     </script>
                 }*@

@section Scripts{

    <script>


        $(document).ready(
            function() {
                $('.collapsible').collapsible();

                const params = new Proxy(new URLSearchParams(window.location.search), {
                    get: (searchParams, prop) => searchParams.get(prop),
                });
                console.log(params.pop);
                // Get the value of "some_key" in eg "https://example.com/?some_key=some_value"
                //let pop = params.pop;

                if (params.pop)
                    $("#popFilter")[0].value = params.pop;

                console.log(params.hbFinished);
                console.log(params.tFinished);
                console.log(params.fFinished);
                console.log(params.mFinished);
                console.log(params.aFinished);
                console.log(params.vFinished);

                //    $("#hbFilter")[0].checked = params.hbFinished;
                //$("#tFilter")[0].checked = params.tFinished;
                //$("#fFilter")[0].checked = params.fFinished;
                //$("#mFilter")[0].checked = params.mFinished;
                //$("#aFilter")[0].checked = params.aFinished;
                //    $("#vFilter")[0].checked = params.vFinished;
                //;

                //$("#hbFilter").prop("checked", params.hbFinished);
                // $("#tFilter").prop("checked", params.tFinished);
                //  $("#fFilter").prop("checked", params.fFinished);
                //   $("#mFilter").prop("checked", params.mFinished);
                //    $("#aFilter").prop("checked", params.aFinished);
                //     $("#vFilter").prop("checked", params.vFinished);
                //$("#hbFilter")[0].val(params.hbFinished);
                //$("#hbFilter")[0].val(params.hbFinished);
            })

        $("#reset").on("click", function() {
            $("#popFilter")[0].value = null;
            $("#hbFilter")[0].checked = false;
            $("#tFilter")[0].checked = false;
            $("#fFilter")[0].checked = false;
            $("#mFilter")[0].checked = false;
            $("#aFilter")[0].checked = false;
            $("#vFilter")[0].checked = false;

            window.location.href = "/";

        })

        $("#filter").on('click', function() {
            var pop = $("#popFilter")[0].value;
            var hbFinished = $("#hbFilter")[0].checked;
            var tFinished = $("#tFilter")[0].checked;
            var fFinished = $("#fFilter")[0].checked;
            var mFinished = $("#mFilter")[0].checked;
            var aFinished = $("#aFilter")[0].checked;
            var vFinished = $("#vFilter")[0].checked;

            var filterModel = {};
            filterModel.pop = pop;
            filterModel.hbFinished = hbFinished;
            filterModel.tFinished = tFinished;
            filterModel.fFinished = fFinished;
            filterModel.mFinished = mFinished;
            filterModel.aFinished = aFinished;
            filterModel.vFinished = vFinished;

            console.log(filterModel);

            window.location.href = "/Home/Filter/?pop=" + pop + "&hbfinished=" + hbFinished + "&tfinished=" + tFinished
                + "&ffinished=" + fFinished + "&mfinished=" + mFinished + "&afinished=" + aFinished + "&vfinished=" + vFinished;

            //$.ajax({
            //    type: "POST",
            //    url: "/Home/Filter/?",
            //    data: JSON.stringify(filterModel),
            //    contentType: "application/json; charset=utf-8",
            //    //dataType: "json",
            //    success: function(r) {
            //        //alert("Success");
            //        ////$("#hbGetTerm").attr("disabled", "disabled");
            //        ////$("#hbCustomerCalled").attr("disabled", "disabled");
            //        //$("#vFinished").attr("disabled", "disabled");
            //        //$("#vSaveChanges").attr("disabled", "disabled");
            //        //$("#vDate").html(currentTime.getDate() + '.' + (currentTime.getMonth().toFixed() - 1) + '.' + currentTime.getFullYear() + ' ' + currentTime.getHours() + ':' + currentTime.getMinutes());

            //        //$("#hbCustomerCalled").attr("disabled", "disabled");
            //        //$('#tblHbTerms tbody').append("<tr><td></td><td>" + newRow.hbfrom + "</td><td>" + newRow.hbto + "</td><td></td></tr>");
            //    },
            //    error: function(err) {
            //        alert("Error");
            //        console.log(JSON.stringify(err))
            //    }

            //})

            //window.location.href = "/Home/Filter/?pop=" + pop + "&hbFinished=" + hbFinished + "&tFinished=" + tFinished + "&fFinished=" + fFinished + "&mFinished=" + mFinished + "&aFinished=" + aFinished + "&vFinished=" + vFinished;
            //$.ajax({
            //                     url: "/Home/Filter/?pop=" + pop + "&hbFinished=" + hbFinished  + "&tFinished=" + tFinished + "&fFinished=" + fFinished + "&mFinished=" + mFinished + "&aFinished=" + aFinished + "&vFinished=" + vFinished,
            //                     method: "GET",
            //                     success: function(){
            //                         alert("Success")
            //                     },
            //                     error: function(error) {
            //                         alert(JSON.stringify(error))
            //                     }
            //                 })

        })
    </script>
                                 }