@model IEnumerable<realbau_app.Models.AddressDetails>
@{
    ViewBag.Title = "Index";
}
<h4 class="center-align">Active addresses<br /></h4>
@*<form id="addresses" asp-controller="Home" asp-action="Addresses" method="POST">*@
@* using (Html.BeginForm("Addresses", "Home", FormMethod.Post))
    {*@

@* <div class="row" >
            <div class="col s3 m3 l3 input-field "><input class="form-control validate" id="cityFilter" /><label for="cityFilter"></label></div>
            <div class="col s3 m3 l3 input-field "><input class="form-control validate" id="popFilter" /><label for="popFilter"></label></div>
        </div>*@

<span id="show"></span>

<div class="row">
    <div class="col s12 m12 l12">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Filters</span>
                <div class="row">
                    <div class="input field col s12 m6 l3">
                        <input class="materialize-input" id="cityFilter" />
                        <label for="cityFilter">Filter by city</label>
                    </div>
                    <div class="input field col s12 m6 l3">
                        <input class="materialize-input" id="popFilter" />
                        <label for="popFilter">Filter by pop</label>
                    </div>
                    <div class="col s12 m6 l1">

                        <p>
                            <label>
                                <input type="checkbox" class="filled-in" id="hbFilter" />
                                <span>Hausbegehung</span>
                            </label>
                        </p>
                    </div>
                    <div class="col s12 m6 l1">

                        <p>
                            <label>
                                <input type="checkbox" class="filled-in" id="tFilter" />
                                <span>Tiefbau</span>
                            </label>
                        </p>
                    </div>
                    <div class="col s12 m6 l1">

                        <p>
                            <label>
                                <input type="checkbox" class="filled-in" id="fFilter" />
                                <span>Faser</span>
                            </label>
                        </p>
                    </div>
                    <div class="col s12 m6 l1">

                        <p>
                            <label>
                                <input type="checkbox" class="filled-in" id="mFilter" />
                                <span>Montaze</span>
                            </label>
                        </p>
                    </div>
                    <div class="col s12 m6 l1">

                        <p>
                            <label>
                                <input type="checkbox" class="filled-in" id="aFilter" />
                                <span>Aktivirung</span>
                            </label>
                        </p>
                    </div>
                    <div class="col s12 m6 l1">

                        <p>
                            <label>
                                <input type="checkbox" class="filled-in" id="vFilter" />
                                <span>Vermessung</span>
                            </label>
                        </p>
                    </div>
                </div>

                @*<div class="row">
                <div class="col s12 m12 l12">
                <form asp-route="StreamFileUpload/Index" enctype="multipart/form-data" method="POST">
                <input type="file" name="file" />
                <button type="submit" class="btn btn-primary">Save</button>
                </form>
                </div>
                </div>*@


            </div>
            <div class="card-action">
                <a class="waves-effect waves-light btn" id="filter" style="background-color: #4db6ac; color: whitesmoke !important;">Filter data</a>
                <a class="waves-effect waves-light btn" id="reset" style="background-color: #e57373; color: whitesmoke !important;">Reset filter</a>

            </div>
        </div>
    </div>
</div>

<style>
    /*i {
                            color: darkgreen !important;
                        }*/

    table {
        margin: 1rem !important;
    }

    span {
        display: inline-block;
        margin: 10px;
        overflow: hidden;
    }

    .nameSpan {
        width: 100px !important;
        /*border: 1px solid red;*/
        /*overflow: hidden;*/
    }

    .citySpan {
        width: 120px !important;
        /*border: 1px solid blue;*/
        /*overflow: hidden;*/
    }

    .areapopSpan {
        width: 80px !important;
        /*border: 1px solid blue;*/
        /*overflow: hidden;*/
    }

    .addressSpan {
        width: 340px !important;
        /*border: 1px solid blue;*/
        /*overflow: hidden;*/
    }

    .phoneSpan {
        width: 140px !important;
        /*border: 1px solid blue;*/
        /*overflow: hidden;*/
    }

    .emailSpan {
        width: 160px !important;
        /*border: 1px solid blue;*/
        /*overflow: hidden;*/
    }

    .finishedSpan {
        width: 75px !important;
        /*border: 1px solid blue;*/
        /*overflow: hidden;*/
    }

    .save-changes-btn {
        background-color: #0288d1;
    }

    .finished-btn {
        margin: 10px;
    }

    .term-btn {
        background-color: #fffde7;
        color: #37474f;
        color: grey;
        margin: 10px;
    }

    .call-btn {
        background-color: #fff8e1;
        color: #37474f;
        color: grey;
        margin: 10px;
    }

    .image-btn {
        background-color: #fff3e0;
        color: #37474f;
        color: grey;
    }

    #hausbegehungLink, #tiefbauLink, #faserLink, #montazeLink, #aktivirungLink, #vermessungLink {
        color: grey;
        font-weight: bold;
    }

    #hbGetTerm, #hbFinished, #hbCustomerCalled, #hbAddImage, #hbSaveChanges,
    #tGetTerm, #tFinished, #tCustomerCalled, #tAddImage, #tSaveChanges,
    #mGetTerm, #mFinished, #mCustomerCalled, #mAddImage, #mSaveChanges,
    #aGetTerm, #aFinished, #aCustomerCalled, #aAddImage, #aSaveChanges,
    #fGetTerm, #fFinished, #fCustomerCalled, #fAddImage, #fSaveChanges,
    #fGetTerm, #fFinished, #fCustomerCalled, #fAddImage, #fSaveChanges {
        margin: 10px;
    }
</style>
@*
<ul class="collapsible">
    <li>
        <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
        <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
        <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
</ul>*@

@*<table class="table table-responsive" id="newaddresses">*@
@*    <tr>
    <th>name</th>
    <th>email</th>
    <th>phone</th>
    <th>phone2</th>
    <th>city</th>
    <th>tzip</th>
    <th>street</th>
    <th>house number</th>
    <th>unit</th>
    <th>areapop</th>
    <th>hausbegehung</th>
    <th>tiefbau</th>
    <th>faser</th>
    <th>montaze</th>
    <th>aktivirung</th>
    <th>vermessung</th>
    <th></th>

    </tr>*@
<ul class="collapsible">
    @foreach (var address in Model)
    {

        <li class="header_li">
            <div class="collapsible-header" id="header_@address.id">
                <div class="row" style="margin: 0">
                    @*<div class="col s1 m1 l1">*@
                    <span class="citySpan">@address.city></span>
                    <span class="areapopSpan">@address.areapop</span>
                    <span class="nameSpan">@address.name</span>
                    <span class="addressSpan">@address.street, @address.housenumber @address.subnumber, @address.unit</span>
                    <span class="phoneSpan">@address.phone</span>
                    <span class="phoneSpan">@address.phone2</span>
                    <span class="emailSpan">@address.email</span>
                    @*</div>*@
                    @if (address.hbfinished == 1)
                    {

                        <span class="finishedSpan"><b>HB:</b> <i class="material-icons" style="color: green !important">check</i></span>

                    }
                    else
                    {

                        <span class="finishedSpan"><b>HB:</b> <i class="material-icons" style="color: red !important">clear</i></span>

                    }

                    @if (address.tfinished == 1)
                    {

                        <span class="finishedSpan"><b>T:</b> <i class="material-icons" style="color: green !important">check</i></span>

                    }
                    else
                    {

                        <span class="finishedSpan"><b>T:</b> <i class="material-icons" style="color: red !important">clear</i></span>

                    }

                    @if (address.ffinished == 1)
                    {

                        <span class="finishedSpan"><b>F:</b> <i class="material-icons" style="color: green !important">check</i></span>

                    }
                    else
                    {

                        <span class="finishedSpan"><b>F:</b> <i class="material-icons" style="color: red !important">clear</i></span>

                    }

                    @if (address.mfinished == 1)
                    {

                        <span class="finishedSpan"><b>M:</b> <i class="material-icons" style="color: green !important">check</i></span>

                    }
                    else
                    {

                        <span class="finishedSpan"><b>M:</b> <i class="material-icons" style="color: red !important">clear</i></span>

                    }

                    @if (address.afinished == 1)
                    {

                        <span class="finishedSpan"><b>A:</b> <i class="material-icons" style="color: green !important">check</i></span>

                    }
                    else
                    {

                        <span class="finishedSpan"><b>A:</b> <i class="material-icons" style="color: red !important">clear</i></span>

                    }

                    @if (address.vfinished == 1)
                    {

                        <span class="finishedSpan"><b>V:</b> <i class="material-icons" style="color: green !important">check</i></span>

                    }
                    else
                    {

                        <span class="finishedSpan"><b>V:</b> <i class="material-icons" style="color: red !important">clear</i></span>

                    }

                </div>
            </div>
            <div class="collapsible-body">
                <div class="row">
                    <div class="col s12">
                        <ul class="tabs">
                            <li class="tab col s1"><a href="#hausbegehung_@address.id" class="active">Hausbegehung</a></li>
                            <li class="tab col s1"><a href="#tiefbau_@address.id">Tiefbau</a></li>
                            <li class="tab col s1"><a href="#faser_@address.id">Faser</a></li>
                            <li class="tab col s1"><a href="#montaze_@address.id">Montaze</a></li>
                            <li class="tab col s1"><a href="#aktivirung_@address.id">Aktivirung</a></li>
                            <li class="tab col s1"><a href="#vermessung_@address.id">Vermessung</a></li>
                        </ul>
                    </div>
                    <div id="hausbegehung_@address.id" class="col s12">
                        <div class="row">
                            <div class="col s12 m12 l12">
                                <div class="row">
                                    <div class="col s6 m6 l6">
                                        <p>Date: @address.hbdate?.ToString("dd.MM.yyyy")</p>
                                        <p>Termin: @address.hbfrom?.ToString("HH:mm") - @address.hbto?.ToString("HH:mm")</p>
                                        <p>Call date: <span id="hbCallDate_@address.id">@address.hbcalldate?.ToString("dd.MM.yyyy HH:mm")</span></p>
                                    </div>
                                    <div class="col s6 m6 l6">
                                        <textarea class="materialize-textarea" id="hbComment_@address.id">@address.hbcomment</textarea>
                                        <label for="hbComment_@address.id">Hausbegehung comment</label>

                                    </div>
                                </div>



                                <a class="waves-effect waves-light btn hbSaveChanges" disabled="@(address.hbfinished == 1)" id="hbSaveChanges_@address.id"><i class="material-icons left">check</i>Save changes</a>
                                <a class="waves-effect waves-light btn hbFinished" disabled="@(address.hbfinished == 1)" id="hbFinished_@address.id"><i class="material-icons left">check</i>HB finished</a>
                                <a class="waves-effect waves-light btn hbGetTerm" disabled="@(address.hbfinished == 1)" id="hbGetTerm_@address.id"><i class="material-icons left">date_range</i>Get HB term</a>
                                <a class="waves-effect waves-light btn hbCustomerCalled" disabled="@(address.hbfinished == 1)" id="hbCustomerCalled_@address.id"><i class="material-icons left">phone</i>Customer called</a>
                                <a class="waves-effect waves-light btn hbAddImage" disabled="@(address.hbfinished == 1)" id="hbAddImage_@address.id"><i class="material-icons left">image</i>Add image</a>
                            </div>
                        </div>
                    </div>

                    <div id="tiefbau_@address.id" class="col s12">
                        <div class="row">

                            <div class="col s12 m12 l12">

                                <div class="row">
                                    <div class="col s6 m6 l6">
                                        <textarea class="materialize-textarea" id="meter_@address.id">@address.meter</textarea>
                                        <label for="meterInput">Meter</label>

                                    </div>
                                    <div class="col s6 m6 l6">
                                        <textarea class="materialize-textarea" id="tComment_@address.id">@address.tcomment</textarea>
                                        <label for="tCommentInput">Tiefbau comment</label>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12 m12 l12">
                                        <p>Date: <span id="tDate_@address.id">@address.tdate</span></p>
                                    </div>
                                </div>

                            </div>

                            <a class="waves-effect waves-light btn tSaveChanges" disabled="@(address.tfinished == 1)" id="tSaveChanges_@address.id"><i class="material-icons left">check</i>Save changes</a>
                            <a class="waves-effect waves-light btn tFinished" disabled="@(address.tfinished == 1)" id="tFinished_@address.id"><i class="material-icons left">check</i>Tiefbau finished</a>
                            <a class="waves-effect waves-light btn tAddImage" disabled="@(address.tfinished == 1)" id="tAddImage_@address.id"><i class="material-icons left">image</i>Add image</a>

                        </div>
                    </div>
                    <div id="faser_@address.id" class="col s12">
                        <div class="row">
                            <div class="col s12 m12 l12" id="faserBody">
                                <div class="row">
                                    <div class="col s6 m6 l6">
                                        <p>Date: <span id="fDate_@address.id">@address.fdate</span></p>

                                    </div>
                                    <div class="col s6 m6 l6">
                                        <textarea class="materialize-textarea" id="fComment_@address.id">@address.fcomment</textarea>
                                        <label for="fComment_@address.id">Faser comment</label>

                                    </div>
                                </div>
                            </div>
                            <a class="waves-effect waves-light btn fSaveChanges" disabled="@(address.ffinished == 1)" id="fSaveChanges_@address.id"><i class="material-icons left">check</i>Save changes</a>
                            <a class="waves-effect waves-light btn fFinished" disabled="@(address.ffinished == 1)" id="fFinished_@address.id"><i class="material-icons left">check</i>Faser finished</a>
                            <a class="waves-effect waves-light btn fAddImage" disabled="@(address.ffinished == 1)" id="fAddImage_@address.id"><i class="material-icons left">image</i>Add image</a>
                        </div>
                    </div>
                    <div id="montaze_@address.id" class="col s12">

                        <div class="row">
                            <div class="col s12 m12 l12">
                                <div class="row">
                                    <div class="col s6 m6 l6">
                                        <p>Date: @address.mdate?.ToString("dd.MM.yyyy")</p>
                                        <p>Termin: @address.mfrom?.ToString("HH:mm") - @address.mto?.ToString("HH:mm")</p>
                                        <p>Call date: <span id="mCallDate_@address.id">@address.mcalldate?.ToString("dd.MM.yyyy HH:mm")</span></p>
                                    </div>
                                    <div class="col s6 m6 l6">
                                        <textarea class="materialize-textarea" id="mComment_@address.id">@address.mcomment</textarea>
                                        <label for="mComment_@address.id">Montaze comment</label>
                                    </div>
                                </div>
                            </div>
                            <a class="waves-effect waves-light btn mSaveChanges" disabled="@(address.mfinished == 1)" id="mSaveChanges_@address.id"><i class="material-icons left">check</i>Save changes</a>
                            <a class="waves-effect waves-light btn mFinished" disabled="@(address.mfinished == 1)" id="mFinished_@address.id"><i class="material-icons left">check</i>Montaze finished</a>
                            <a class="waves-effect waves-light btn mGetTerm" disabled="@(address.mfinished == 1) || @(address.mfinished == 1)" id="mGetTerm_@address.id"><i class="material-icons left">date_range</i>Get montaze term</a>
                            <a class="waves-effect waves-light btn mCustomerCalled" disabled="@(address.mcalldate != null)" id="mCustomerCalled_@address.id"><i class="material-icons left">phone</i>Customer called</a>
                            <a class="waves-effect waves-light btn mAddImage" disabled="@(address.mfinished == 1)" id="mAddImage_@address.id"><i class="material-icons left">image</i>Add image</a>


                        </div>
                    </div>
                    <div id="aktivirung_@address.id" class="col s12">
                        <div class="row">
                            <div class="col s12 m12 l12">
                                <div class="row">
                                    <div class="col s6 m6 l6">
                                        <p>Date: <span id="aDate">@address.adate</span></p>
                                    </div>
                                    <div class="col s6 m6 l6">
                                        <textarea class="materialize-textarea" id="aCommentInput">@address.acomment</textarea>
                                        <label for="aCommentInput">Aktivirung comment</label>

                                    </div>
                                </div>
                            </div>
                            <a class="waves-effect waves-light btn" disabled="@(address.afinished == 1)" href="#" id="aSaveChanges"><i class="material-icons left">check</i>Save changes</a>
                            <a class="waves-effect waves-light btn" disabled="@(address.afinished == 1)" href="#" id="aFinished"><i class="material-icons left">check</i>Aktivirung finished</a>
                        </div>

                    </div>
                    <div id="vermessung_@address.id" class="col s12">
                        <div class="row">
                            <div class="col s12 m12 l12">
                                <div class="row">
                                    <div class="col s6 m6 l6">
                                        <p>Date: <span id="vDate">@address.vdate</span></p>
                                    </div>
                                    <div class="col s6 m6 l6">
                                        <textarea class="materialize-textarea" id="vCommentInput">@address.vcomment</textarea>
                                        <label for="vCommentInput">Vermessung comment</label>
                                    </div>
                                </div>
                            </div>
                            <div class="card-action">
                                <a class="waves-effect waves-light btn" disabled="@(address.vfinished == 1)" href="#" id="vSaveChanges"><i class="material-icons left">check</i>Save changes</a>
                                <a class="waves-effect waves-light btn" disabled="@(address.vfinished == 1)" href="#" id="vFinished"><i class="material-icons left">check</i>Vermessung finished</a>
                            </div>
                        </div>
                    </div>
                </div>



                @* <a id="hausbegehungLink">Hausbegehung</a>
            <a id="tiefbauLink">Tiefbau</a>
            <a id="faserLink">Faser</a>
            <a id="montazeLink">Montaze</a>
            <a id="aktivirungLink">Aktivirung</a>
            <a id="vermessungLink">Vermessung</a>

            <div class="row" id="hausbegehungBody">
            <div class="col s12 m12 l12">
            <div class="row">
            <div class="col s6 m6 l6">
            <p>Date: @address.hbdate?.ToString("dd.MM.yyyy")</p>
            <p>Termin: @address.hbfrom?.ToString("HH:mm") - @address.hbto?.ToString("HH:mm")</p>
            <p>Call date: <span id="hbCallDate">@address.hbcalldate?.ToString("dd.MM.yyyy HH:mm")</span></p>
            </div>
            <div class="col s6 m6 l6">
            <textarea class="materialize-textarea" id="hbComment">@address.hbcomment</textarea>
            <label for="hbComment">Hausbegehung comment</label>

            </div>
            </div>

            <a class="waves-effect waves-light btn save-changes-btn" disabled="@(address.hbfinished == 1)" href="#" id="hbSaveChanges"><i class="material-icons left">check</i>Save changes</a>
            <a class="waves-effect waves-light btn" disabled="@(address.hbfinished == 1)" href="#" id="hbFinished"><i class="material-icons left">check</i>HB finished</a>
            <a class="waves-effect waves-light btn term-btn" disabled="@(address.hbfinished == 1)" id="hbGetTerm"><i class="material-icons left">date_range</i>Get HB term</a>
            <a class="waves-effect waves-light btn call-btn" disabled="@(address.hbcalldate != null)" href="#" id="hbCustomerCalled"><i class="material-icons left">phone</i>Customer called</a>
            <a class="waves-effect waves-light btn image-btn" disabled="@(address.hbfinished == 1)" href="#" id="hbAddImages"><i class="material-icons left">image</i>Add image</a>
            </div>
            </div>

            <div class="row" id="tiefbauBody">

            <div class="col s12 m12 l12">

            <div class="row">
            <div class="col s6 m6 l6">
            <textarea class="materialize-textarea" id="meterInput">@address.meter</textarea>
            <label for="meterInput">Meter</label>

            </div>
            <div class="col s6 m6 l6">
            <textarea class="materialize-textarea" id="tCommentInput">@address.tcomment</textarea>
            <label for="tCommentInput">Tiefbau comment</label>

            </div>
            </div>
            <div class="row">
            <div class="col s12 m12 l12">
            <p>Date: <span id="tDate">@address.tdate</span></p>
            </div>
            </div>

            </div>

            <a class="waves-effect waves-light btn save-changes-btn" disabled="@(address.tfinished == 1)" href="#" id="tSaveChanges"><i class="material-icons left">check</i>Save changes</a>
            <a class="waves-effect waves-light btn finished-btn" disabled="@(address.tfinished == 1)" href="#" id="tFinished"><i class="material-icons left">check</i>Tiefbau finished</a>

            </div>*@

            </div>
        </li>
        @*    <li>
    <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
    <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>*@


        @*      <tr >


    <td>@d.name</td>
    <td>@d.email</td>
    <td>@d.phone</td>
    <td>@d.phone2</td>
    <td>@d.city</td>
    <td>@d.tzip</td>
    <td>@d.street</td>
    <td>@d.housenumber</td>
    <td>@d.unit</td>
    <td>@d.areapop</td>
    <th>
    @if (d.hbfinished == 1)
    {
    <i class="material-icons left">check</i>
    }
    </th>

    <th>
    @if (d.tfinished == 1)
    {
    <i class="material-icons left">check</i>
    }
    </th>
    <th>
    @if (d.ffinished == 1)
    {
    <i class="material-icons left">check</i>
    }
    </th>
    <th>
    @if (d.mfinished == 1)
    {
    <i class="material-icons left">check</i>
    }
    </th>
    <th>
    @if (d.afinished == 1)
    {
    <i class="material-icons left">check</i>
    }
    </th>
    <th>
    @if (d.vfinished == 1)
    {
    <i class="material-icons left">check</i>
    }
    </th>
    <td style="font-weight: bold;">
    @Html.ActionLink("Details",
    "AddressDetails",
    "Home",
    new { id = @d.id },
    null
    )

    </td>


    </tr>*@

    }
</ul>

@*</table>*@




@*@section Scripts{*@
@*<script type="text/javascript">
        $(function() {
            $("#submit").click(function() {
                document.forms[0].submit();
                return false;
            });
        });
    </script>*@
@*}
*@    @*@*<button id="submitAddresses" class="btn" value="Submit" type="submit">Submit</button>*@
@*@Html.ActionLink("Home","Addresses",Model)*@
@*</form>*@

@*@section Scripts{
                     <script>
$(function() {
                         $("#submitAddresses").click(function(){
                             $.ajax({
                                 url: "/Home/Addresses",
                                 method: "POST",
                                 data:  $("#addresses").serialize(),
                                 success: function(){
                                     alert("Success")
                                 },
                                 error: function(error) {
                                     alert(JSON.stringify(error))
                                 }
                             })
                         })
                          })
                     </script>
                 }*@

@section Scripts{

    <script>


        $(document).ready(
            function() {
                $('.collapsible').collapsible();
                $('.tabs').tabs();

                //console.log($('.tabs'));

                //$('#hausbegehungBody').style.visibility = "visible";
                //$('#tiefbauBody').style.visibility = "hidden";

                const params = new Proxy(new URLSearchParams(window.location.search), {
                    get: (searchParams, prop) => searchParams.get(prop),
                });
                console.log(params.pop);
                // Get the value of "some_key" in eg "https://example.com/?some_key=some_value"
                //let pop = params.pop;

                if (params.pop)
                    $("#popFilter")[0].value = params.pop;

                console.log(params.hbFinished);
                console.log(params.tFinished);
                console.log(params.fFinished);
                console.log(params.mFinished);
                console.log(params.aFinished);
                console.log(params.vFinished);

                //    $("#hbFilter")[0].checked = params.hbFinished;
                //$("#tFilter")[0].checked = params.tFinished;
                //$("#fFilter")[0].checked = params.fFinished;
                //$("#mFilter")[0].checked = params.mFinished;
                //$("#aFilter")[0].checked = params.aFinished;
                //    $("#vFilter")[0].checked = params.vFinished;
                //;

                //$("#hbFilter").prop("checked", params.hbFinished);
                // $("#tFilter").prop("checked", params.tFinished);
                //  $("#fFilter").prop("checked", params.fFinished);
                //   $("#mFilter").prop("checked", params.mFinished);
                //    $("#aFilter").prop("checked", params.aFinished);
                //     $("#vFilter").prop("checked", params.vFinished);
                //$("#hbFilter")[0].val(params.hbFinished);
                //$("#hbFilter")[0].val(params.hbFinished);
            })

        $("#reset").on("click", function() {
            $("#popFilter")[0].value = null;
            $("#hbFilter")[0].checked = false;
            $("#tFilter")[0].checked = false;
            $("#fFilter")[0].checked = false;
            $("#mFilter")[0].checked = false;
            $("#aFilter")[0].checked = false;
            $("#vFilter")[0].checked = false;

            window.location.href = "/";

        })

        $("#filter").on('click', function() {
            var pop = $("#popFilter")[0].value;
            var city = $("#cityFilter")[0].value;
            var hbFinished = $("#hbFilter")[0].checked;
            var tFinished = $("#tFilter")[0].checked;
            var fFinished = $("#fFilter")[0].checked;
            var mFinished = $("#mFilter")[0].checked;
            var aFinished = $("#aFilter")[0].checked;
            var vFinished = $("#vFilter")[0].checked;

            var filterModel = {};
            filterModel.pop = pop;
            filterModel.city = city;
            filterModel.hbFinished = hbFinished;
            filterModel.tFinished = tFinished;
            filterModel.fFinished = fFinished;
            filterModel.mFinished = mFinished;
            filterModel.aFinished = aFinished;
            filterModel.vFinished = vFinished;

            console.log(filterModel);

            window.location.href = "/Home/Filter/?city=" + city + "pop=" + pop + "&hbfinished=" + hbFinished + "&tfinished=" + tFinished
                + "&ffinished=" + fFinished + "&mfinished=" + mFinished + "&afinished=" + aFinished + "&vfinished=" + vFinished;

            //$.ajax({
            //    type: "POST",
            //    url: "/Home/Filter/?",
            //    data: JSON.stringify(filterModel),
            //    contentType: "application/json; charset=utf-8",
            //    //dataType: "json",
            //    success: function(r) {
            //        //alert("Success");
            //        ////$("#hbGetTerm").attr("disabled", "disabled");
            //        ////$("#hbCustomerCalled").attr("disabled", "disabled");
            //        //$("#vFinished").attr("disabled", "disabled");
            //        //$("#vSaveChanges").attr("disabled", "disabled");
            //        //$("#vDate").html(currentTime.getDate() + '.' + (currentTime.getMonth().toFixed() - 1) + '.' + currentTime.getFullYear() + ' ' + currentTime.getHours() + ':' + currentTime.getMinutes());

            //        //$("#hbCustomerCalled").attr("disabled", "disabled");
            //        //$('#tblHbTerms tbody').append("<tr><td></td><td>" + newRow.hbfrom + "</td><td>" + newRow.hbto + "</td><td></td></tr>");
            //    },
            //    error: function(err) {
            //        alert("Error");
            //        console.log(JSON.stringify(err))
            //    }

            //})

            //window.location.href = "/Home/Filter/?pop=" + pop + "&hbFinished=" + hbFinished + "&tFinished=" + tFinished + "&fFinished=" + fFinished + "&mFinished=" + mFinished + "&aFinished=" + aFinished + "&vFinished=" + vFinished;
            //$.ajax({
            //                     url: "/Home/Filter/?pop=" + pop + "&hbFinished=" + hbFinished  + "&tFinished=" + tFinished + "&fFinished=" + fFinished + "&mFinished=" + mFinished + "&aFinished=" + aFinished + "&vFinished=" + vFinished,
            //                     method: "GET",
            //                     success: function(){
            //                         alert("Success")
            //                     },
            //                     error: function(error) {
            //                         alert(JSON.stringify(error))
            //                     }
            //                 })

        })

        $(document).on("click", "ul.collapsible li", function() {

            var elem = document.querySelectorAll("ul.collapsible li.header_li");
            var index = "none"

            //console.log(elem);


            for (var i = 0; i < elem.length; i++) {
                console.log(elem[i].className);
                if (elem[i].className.indexOf("active") != -1) {
                    //index = i;
                    //console.log(elem[i].children[0]);
                    elem[i].children[0].style.backgroundColor = '#e0e0e0';
                    //console.log(elem[i]);
                }
                else {
                    elem[i].children[0].style.backgroundColor = 'transparent';;
                }
                //document.getElementById("show").innerHTML = index;
            }

        })

        $(".hbCustomerCalled").click(function() {
            //console.log($("#addressId"));
            var addressId = this.id.split('_')[1];
            //console.log($("#addressId")[0]);
            //alert(addressId);
            var currentTime = new Date(); //new Date(new Date().toLocaleString("en-US", { timeZone: "Europe/Belgrade" }));
            var hbData = {};
            hbData.calldate = currentTime;

            $.ajax({
                type: "PUT",
                url: "/api/Hausbegehung/" + addressId,
                data: JSON.stringify(hbData),
                contentType: "application/json; charset=utf-8",
                //dataType: "json",
                success: function(r) {
                    alert("Successfully checked customer called!");
                    $("#hbCustomerCalled_" + addressId).attr("disabled", "disabled");
                    $("#hbCallDate_" + addressId).html(currentTime.getDate() + '.' + (currentTime.getMonth().toFixed() - 1) + '.' + currentTime.getFullYear() + ' ' + currentTime.getHours() + ':' + currentTime.getMinutes());
                    //$('#tblHbTerms tbody').append("<tr><td></td><td>" + newRow.hbfrom + "</td><td>" + newRow.hbto + "</td><td></td></tr>");
                },
                error: function(err) {
                    alert("Error! Please, try again.");
                    console.log(JSON.stringify(err))
                }
            });
        })

        $(".hbSaveChanges").click(function() {
            var addressId = this.id.split('_')[1];
            let hbCommentInput = $("#hbComment_" + addressId)[0];
            console.log(hbCommentInput.value);
            //alert(addressId);
            //var currentTime = new Date(); //new Date(new Date().toLocaleString("en-US", { timeZone: "Europe/Belgrade" }));

            var hbData = {};
            hbData.hbcomment = hbCommentInput.value;



            $.ajax({
                type: "PUT",
                url: "/api/Hausbegehung/" + addressId,
                data: JSON.stringify(hbData),
                contentType: "application/json; charset=utf-8",
                //dataType: "json",
                success: function(r) {
                    alert("Successfully updated hausbegehung.");
                    //hbCommentInput.val(hbData.hbcomment);
                    //$("#hbCustomerCalled").attr("disabled", "disabled");
                    //$('#tblHbTerms tbody').append("<tr><td></td><td>" + newRow.hbfrom + "</td><td>" + newRow.hbto + "</td><td></td></tr>");
                },
                error: function(err) {
                    alert("Error! Please try again.");
                    console.log(JSON.stringify(err))
                }
            });
        })

        $(".hbFinished").click(function() {

            var hbData = {};
            hbData.finished = 1;

            var addressId = this.id.split('_')[1];
            $.ajax({
                type: "PUT",
                url: "/api/Hausbegehung/" + addressId,
                data: JSON.stringify(hbData),
                contentType: "application/json; charset=utf-8",

                success: function(r) {
                    alert("Successfully checked hb finished!");
                    $("#hbGetTerm_" + addressId).attr("disabled", "disabled");
                    $("#hbCustomerCalled_" + addressId).attr("disabled", "disabled");
                    $("#hbFinished_" + addressId).attr("disabled", "disabled");
                    $("#hbSaveChanges_" + addressId).attr("disabled", "disabled");
                    $("#hbAddImage_" + addressId).attr("disabled", "disabled");
                },
                error: function(err) {
                    alert("Error! Please, try again.");
                    console.log(JSON.stringify(err))
                }
            });
        })

        $(".hbGetTerm").click(function() {
            //var addressId = $("#addressId")[0].innerText;
            var addressId = this.id.split('_')[1];
            var currentTime = new Date();
            let date = currentTime.getFullYear() + '-' + (currentTime.getMonth().toFixed() - 1) + '-' + currentTime.getDate();
            window.location.href = "/Hausbegehung/Terms/?address_id=" + addressId + '&year=' + currentTime.getFullYear() + '&month=' + (currentTime.getMonth().toFixed()) + '&date=' + currentTime.getDate();
        })

        $(".hbAddImage").click(function() {
            //var addressId = $("#addressId")[0].innerText;
            var addressId = this.id.split('_')[1];
            window.location.href = "/StreamFileUpload/?type=hausbegehung&address_id=" + addressId;
        })

        $(".tSaveChanges").click(function() {
            var addressId = this.id.split('_')[1];

            let tComment = $("#tComment_" + addressId)[0];

            let meter = $("#meter_" + addressId)[0];

            var tData = {};
            tData.tcomment = tComment.value;
            tData.meter = meter.value;


            $.ajax({
                type: "PUT",
                url: "/api/Tiefbau/" + addressId,
                data: JSON.stringify(tData),
                contentType: "application/json; charset=utf-8",
                success: function(r) {
                    alert("Successfully saved tiefbau data!");
                },
                error: function(err) {
                    alert("Error! Please, try again.");
                    console.log(JSON.stringify(err))
                }
            });
        })

        $(".tFinished").click(function() {

            var tData = {};
            tData.finished = 1;

            var currentTime = new Date(); //new Date(new Date().toLocaleString("en-US", { timeZone: "Europe/Belgrade" }));

            tData.fdate = currentTime;

            var addressId = this.id.split('_')[1];

            $.ajax({
                type: "PUT",
                url: "/api/Tiefbau/" + addressId,
                data: JSON.stringify(tData),
                contentType: "application/json; charset=utf-8",
                //dataType: "json",
                success: function(r) {
                    alert("Successfully checked tiefbau finished!");
                    $("#tFinished_" + addressId).attr("disabled", "disabled");
                    $("#tSaveChanges_" + addressId).attr("disabled", "disabled");
                    $("#tAddImage_" + addressId).attr("disabled", "disabled");
                    $("#tDate_" + addressId).html(currentTime.getDate() + '.' + (currentTime.getMonth().toFixed() - 1) + '.' + currentTime.getFullYear() + ' ' + currentTime.getHours() + ':' + currentTime.getMinutes());
                },
                error: function(err) {
                    alert("Error! Please, try again.");
                    console.log(JSON.stringify(err))
                }
            });
        })

        $(".tAddImage").click(function() {
            //var addressId = $("#addressId")[0].innerText;
            var addressId = this.id.split('_')[1];
            window.location.href = "/StreamFileUpload/?type=tiefbau&address_id=" + addressId;
        })

        $(".fSaveChanges").click(function() {
            var addressId = this.id.split('_')[1];
            let fComment = $("#fComment_" + addressId)[0];

            var fData = {};
            fData.fcomment = fComment.value;

            $.ajax({
                type: "PUT",
                url: "/api/Faser/" + addressId,
                data: JSON.stringify(fData),
                contentType: "application/json; charset=utf-8",
                //dataType: "json",
                success: function(r) {
                    alert("Successfully saved faser data!");
                },
                error: function(err) {
                    alert("Error! Please, try again.");
                    console.log(JSON.stringify(err))
                }
            });
        })

        $(".fFinished").click(function() {
            var addressId = this.id.split('_')[1];

            var fData = {};
            fData.finished = 1;

            var currentTime = new Date(); //new Date(new Date().toLocaleString("en-US", { timeZone: "Europe/Belgrade" }));

            fData.fdate = currentTime;

            $.ajax({
                type: "PUT",
                url: "/api/Faser/" + addressId,
                data: JSON.stringify(fData),
                contentType: "application/json; charset=utf-8",
                //dataType: "json",
                success: function(r) {
                    alert("Successfully checked faser finished!");
                    $("#fFinished_" + addressId).attr("disabled", "disabled");
                    $("#fSaveChanges_" + addressId).attr("disabled", "disabled");
                    $("#fAddImage_" + addressId).attr("disabled", "disabled");
                    $("#fDate_" + addressId).html(currentTime.getDate() + '.' + (currentTime.getMonth().toFixed() - 1) + '.' + currentTime.getFullYear() + ' ' + currentTime.getHours() + ':' + currentTime.getMinutes());

                    //$("#hbCustomerCalled").attr("disabled", "disabled");
                    //$('#tblHbTerms tbody').append("<tr><td></td><td>" + newRow.hbfrom + "</td><td>" + newRow.hbto + "</td><td></td></tr>");
                },
                error: function(err) {
                    alert("Error! Please, try again.");
                    console.log(JSON.stringify(err))
                }
            });
        })


        $(".fAddImage").click(function() {
            //var addressId = $("#addressId")[0].innerText;
            var addressId = this.id.split('_')[1];
            window.location.href = "/StreamFileUpload/?type=faser&address_id=" + addressId;
        })


        $(".mCustomerCalled").click(function() {
            var addressId = this.id.split('_')[1];
            //alert(addressId);
            var currentTime = new Date(); //new Date(new Date().toLocaleString("en-US", { timeZone: "Europe/Belgrade" }));
            var mData = {};
            mData.calldate = currentTime;

            $.ajax({
                type: "PUT",
                url: "/api/Montaze/" + addressId,
                data: JSON.stringify(mData),
                contentType: "application/json; charset=utf-8",
                //dataType: "json",
                success: function(r) {
                    alert("Successfully checked customer called!");
                    $("#mCustomerCalled_" + addressId).attr("disabled", "disabled");
                    $("#mCallDate_" + addressId).html(currentTime.getDate() + '.' + (currentTime.getMonth().toFixed() - 1) + '.' + currentTime.getFullYear() + ' ' + currentTime.getHours() + ':' + currentTime.getMinutes());
                    //$('#tblHbTerms tbody').append("<tr><td></td><td>" + newRow.hbfrom + "</td><td>" + newRow.hbto + "</td><td></td></tr>");
                },
                error: function(err) {
                    alert("Error! Please, try again.");
                    console.log(JSON.stringify(err))
                }
            });
        });

        $(".mSaveChanges").click(function() {
            var addressId = this.id.split('_')[1];
            let mComment = $("#mComment_" + addressId)[0];
           
            var mData = {};
            mData.mcomment = mComment.value;

            
            $.ajax({
                type: "PUT",
                url: "/api/Montaze/" + addressId,
                data: JSON.stringify(mData),
                contentType: "application/json; charset=utf-8",
                //dataType: "json",
                success: function(r) {
                    alert("Successfully saved montaze data!");
                    //mCommentInput.val(mData.mcomment);
                    //$("#hbCustomerCalled").attr("disabled", "disabled");
                    //$('#tblHbTerms tbody').append("<tr><td></td><td>" + newRow.hbfrom + "</td><td>" + newRow.hbto + "</td><td></td></tr>");
                },
                error: function(err) {
                    alert("Error! Please, try again.");
                    console.log(JSON.stringify(err))
                }
            });
        })

        $(".mFinished").click(function() {
           

            var mData = {};
            mData.finished = 1;

            var addressId = this.id.split('_')[1];

            $.ajax({
                type: "PUT",
                url: "/api/Montaze/" + addressId,
                data: JSON.stringify(mData),
                contentType: "application/json; charset=utf-8",
                //dataType: "json",
                success: function(r) {
                    alert("Successfully checked montaze finished!");
                    $("#mGetTerm_" + addressId).attr("disabled", "disabled");
                    $("#mCustomerCalled_" + addressId).attr("disabled", "disabled");
                    $("#mFinished_" + addressId).attr("disabled", "disabled");
                    $("#mSaveChanges_" + addressId).attr("disabled", "disabled");
                    //$("#hbCustomerCalled").attr("disabled", "disabled");
                    //$('#tblHbTerms tbody').append("<tr><td></td><td>" + newRow.hbfrom + "</td><td>" + newRow.hbto + "</td><td></td></tr>");
                },
                error: function(err) {
                    alert("Error! Please, try again.");
                    console.log(JSON.stringify(err))
                }
            });
        })

        $(".mGetTerm").click(function() {
            var addressId = this.id.split('_')[1];
            var currentTime = new Date();
            let date = currentTime.getFullYear() + '-' + (currentTime.getMonth().toFixed() - 1) + '-' + currentTime.getDate();
            window.location.href = "/Montaze/Terms/?address_id=" + addressId + '&year=' + currentTime.getFullYear() + '&month=' + (currentTime.getMonth().toFixed()) + '&date=' + currentTime.getDate();
        })

        $(".mAddImage").click(function() {
            var addressId = this.id.split('_')[1];
            window.location.href = "/StreamFileUpload/?type=montaze&address_id=" + addressId;
        })



        $("#aSaveChanges").click(function() {
            //console.log($("#hbComment"));
            //var addressId = $("#addressId")[0].innerText;
            let aCommentInput = $("#aCommentInput")[0];
            console.log(aCommentInput.value);

            //alert(addressId);
            //var currentTime = new Date(); //new Date(new Date().toLocaleString("en-US", { timeZone: "Europe/Belgrade" }));

            var aData = {};
            aData.acomment = aCommentInput.value;


            var addressId = $("#addressId")[0].innerText;

            $.ajax({
                type: "PUT",
                url: "/api/Aktivirung/" + addressId,
                data: JSON.stringify(aData),
                contentType: "application/json; charset=utf-8",
                //dataType: "json",
                success: function(r) {
                    alert("Success");
                    //hbCommentInput.val(hbData.comment);
                    //$("#hbCustomerCalled").attr("disabled", "disabled");
                    //$('#tblHbTerms tbody').append("<tr><td></td><td>" + newRow.hbfrom + "</td><td>" + newRow.hbto + "</td><td></td></tr>");
                },
                error: function(err) {
                    alert("Error");
                    console.log(JSON.stringify(err))
                }
            });
        })

        $("#aFinished").click(function() {
            //console.log($("#hbComment"));
            //var addressId = $("#addressId")[0].innerText;
            //let hbCommentInput = $("#hbComment")[0];
            //console.log(hbCommentInput.value);
            //alert(addressId);
            //var currentTime = new Date(); //new Date(new Date().toLocaleString("en-US", { timeZone: "Europe/Belgrade" }));

            var aData = {};
            aData.finished = 1;

            var addressId = $("#addressId")[0].innerText;

            var currentTime = new Date(); //new Date(new Date().toLocaleString("en-US", { timeZone: "Europe/Belgrade" }));

            aData.adate = currentTime;

            $.ajax({
                type: "PUT",
                url: "/api/Aktivirung/" + addressId,
                data: JSON.stringify(aData),
                contentType: "application/json; charset=utf-8",
                //dataType: "json",
                success: function(r) {
                    alert("Success");
                    //$("#hbGetTerm").attr("disabled", "disabled");
                    //$("#hbCustomerCalled").attr("disabled", "disabled");
                    $("#aFinished").attr("disabled", "disabled");
                    $("#aSaveChanges").attr("disabled", "disabled");
                    $("#aDate").html(currentTime.getDate() + '.' + (currentTime.getMonth().toFixed() - 1) + '.' + currentTime.getFullYear() + ' ' + currentTime.getHours() + ':' + currentTime.getMinutes());

                    //$("#hbCustomerCalled").attr("disabled", "disabled");
                    //$('#tblHbTerms tbody').append("<tr><td></td><td>" + newRow.hbfrom + "</td><td>" + newRow.hbto + "</td><td></td></tr>");
                },
                error: function(err) {
                    alert("Error");
                    console.log(JSON.stringify(err))
                }
            });
        })

        // Vermessung

        $("#vSaveChanges").click(function() {
            //console.log($("#hbComment"));
            //var addressId = $("#addressId")[0].innerText;
            let vCommentInput = $("#vCommentInput")[0];
            console.log(vCommentInput.value);

            //alert(addressId);
            //var currentTime = new Date(); //new Date(new Date().toLocaleString("en-US", { timeZone: "Europe/Belgrade" }));

            var vData = {};
            vData.vcomment = vCommentInput.value;


            var addressId = $("#addressId")[0].innerText;

            $.ajax({
                type: "PUT",
                url: "/api/Vermessung/" + addressId,
                data: JSON.stringify(vData),
                contentType: "application/json; charset=utf-8",
                //dataType: "json",
                success: function(r) {
                    alert("Success");
                    //hbCommentInput.val(hbData.comment);
                    //$("#hbCustomerCalled").attr("disabled", "disabled");
                    //$('#tblHbTerms tbody').append("<tr><td></td><td>" + newRow.hbfrom + "</td><td>" + newRow.hbto + "</td><td></td></tr>");
                },
                error: function(err) {
                    alert("Error");
                    console.log(JSON.stringify(err))
                }
            });
        })

        $("#vFinished").click(function() {
            //console.log($("#hbComment"));
            //var addressId = $("#addressId")[0].innerText;
            //let hbCommentInput = $("#hbComment")[0];
            //console.log(hbCommentInput.value);
            //alert(addressId);
            //var currentTime = new Date(); //new Date(new Date().toLocaleString("en-US", { timeZone: "Europe/Belgrade" }));

            var vData = {};
            vData.finished = 1;

            var addressId = $("#addressId")[0].innerText;

            var currentTime = new Date(); //new Date(new Date().toLocaleString("en-US", { timeZone: "Europe/Belgrade" }));

            vData.vdate = currentTime;

            $.ajax({
                type: "PUT",
                url: "/api/Vermessung/" + addressId,
                data: JSON.stringify(vData),
                contentType: "application/json; charset=utf-8",
                //dataType: "json",
                success: function(r) {
                    alert("Success");
                    //$("#hbGetTerm").attr("disabled", "disabled");
                    //$("#hbCustomerCalled").attr("disabled", "disabled");
                    $("#vFinished").attr("disabled", "disabled");
                    $("#vSaveChanges").attr("disabled", "disabled");
                    $("#vDate").html(currentTime.getDate() + '.' + (currentTime.getMonth().toFixed() - 1) + '.' + currentTime.getFullYear() + ' ' + currentTime.getHours() + ':' + currentTime.getMinutes());

                    //$("#hbCustomerCalled").attr("disabled", "disabled");
                    //$('#tblHbTerms tbody').append("<tr><td></td><td>" + newRow.hbfrom + "</td><td>" + newRow.hbto + "</td><td></td></tr>");
                },
                error: function(err) {
                    alert("Error");
                    console.log(JSON.stringify(err))
                }
            });
        })


    </script>
                                 }